<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magepow_productslider>
            <general>
                <enabled>1</enabled>
                <limit>15</limit>
            </general>
        </magepow_productslider>
    </default>
</config>
