<?xml version="1.0"?>
<!-- /**
 * @Author: nguyen
 * @Date:   2020-02-12 14:01:01
 * @Last Modified by:   nguyen
 * @Last Modified time: 2020-02-15 18:55:34
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="102">
            <label>Magepow</label>
        </tab>
        <section id="magepow_productslider" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Slider</label>
            <tab>magepow</tab>
            <resource>Magepow_Productslider::config_productslider</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment>Enabled Module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="limit" translate="label comment" type="text" sortOrder="22"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Limit number Product</label>
                    <comment>Limit number Product</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
